@import "../../utils/constants.scss";

.membership {
  img {
    max-width: 500px;
    border-radius: 10px;
    animation: floating 3s ease-in-out infinite;
    box-shadow: $shadow1;
  }

  #whyJoinUs {
    display: flex;
    align-items: center;
    gap: 8%;
    background-color: rgb(226, 228, 243);
  }

  #membershipTitle {
    margin-top: 5rem;
    font-weight: bolder;
  }

  .button {
    color: black;
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
  }

  .formContainer {
    padding: 40px 5%;
    padding-bottom: 60px;
  }

  .formButton {
    text-align: center;
    color: #333333;
    margin-bottom: 16px;
    font-size: 18px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -13px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
      background-color: rgb(50, 90, 128);
      color: white;
      cursor: pointer;
    }
  }
}
