@import "../../utils/constants.scss";

.about {
  .first {
    min-height: calc(100vh - 75px);
    max-height: max-content;
    background-color: rgb(226, 228, 243);
    padding: 100px 50px;

    .cont {
      display: flex;
      gap: 36px;
      flex-direction: column;
      justify-content: start;
    }

    .title {
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 32px;
    }

    .desc {
      font-size: 17px;
      margin-bottom: 24px;
      line-height: 30px;
      color: rgb(53, 53, 53);
      text-align: justify;
      line-height: 250%;
    }

    Button {
      margin-left: 10px;
      color: black;
      background-color: transparent;
      padding: 0;
      font-size: 16px;
      text-decoration: underline;
    }

    @include mobile {
      padding: 50px 20px;
      gap: 0;
      img {
        display: none;
      }

      .mobileImg {
        display: block;
        height: auto;
        max-width: 90%;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 30% 70% 70% 30% / 52% 30% 70% 48%;
        box-shadow: $shadow1;
        animation: floating 3s ease-in-out infinite;
      }

      .title {
        text-align: center;
      }
    }

    @include tablet {
      padding: 50px 20px;
      gap: 0;
      img {
        display: none;
      }

      .mobileImg {
        display: block;
        height: auto;
        max-width: 75%;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 30% 70% 70% 30% / 52% 30% 70% 48%;
        box-shadow: $shadow1;
        animation: floating 3s ease-in-out infinite;
      }
    }
  }

  .second {
    min-height: calc(100vh - 175px);
    max-height: max-content;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    gap: 36px;

    .left {
      .title {
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 75px;
      }
      img {
        height: 300px;
        border-radius: 23% 77% 47% 53% / 48% 50% 50% 52%;
        animation: floating 3s ease-in-out infinite;

        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
      }
    }

    .right {
      align-self: center;
      flex: 2;

      .desc {
        font-size: 17px;
        line-height: 34px;
        margin-bottom: 32px;
        text-align: justify;
      }
    }

    @include mobile {
      flex-direction: column;
      gap: 0;
      padding: 50px 20px;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          text-align: center;
          margin-bottom: 10px;
        }
      }
      img {
        height: auto;
        max-width: 90%;
        margin: auto;
        align-self: center;
        margin-bottom: 40px;
      }
    }

    @include tablet {
      flex-direction: column;
      gap: 0;
      padding: 50px 20px;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          margin-bottom: 24px;
        }
      }
      img {
        max-height: auto;
        max-width: 75%;
        object-fit: cover;
        margin: auto;
        align-self: center;
        margin-bottom: 40px;
      }
    }
  }

  .third {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 100px 50px;
    background-color: #edf5f5;

    @include mobile {
      gap: 30;
      padding: 50px 20px;
      flex-direction: column;
    }

    @include tablet {
      gap: 30;
      align-items: center;
      padding: 50px 20px;
      flex-direction: column;
    }
  }

  .title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .desc {
    font-size: 17px;
    margin-bottom: 24px;
    line-height: 30px;
    color: rgb(53, 53, 53);
    text-align: justify;
    line-height: 250%;
  }
}
