.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 75px;

  .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media only screen and (max-width: 600px) {
    padding: 20px 40px;
  }
}
