@import "../../utils/constants.scss";

.home {
  .landing {
    min-height: calc(100vh - 75px);
    max-height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .img-cont {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .motto {
      font-size: 34px;
      font-weight: 900;
      max-width: 900px;
    }

    .org {
      font-size: 18px;
      font-weight: 400;
      max-width: 900px;
    }

    .date {
      font-style: italic;
      margin-bottom: 20px;
    }

    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
      min-height: calc((100vh - 75px) * 0.6);
      padding: 60px 0;

      .logo {
        width: 35%;
        height: 35%;
      }

      .motto {
        font-size: 38px;
        text-align: center;
      }

      .org {
        font-size: 24;
        text-align: center;
      }
    }

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
      min-height: calc((100vh - 75px) * 0.6);
      padding: 60px 0;

      .logo {
        width: 30%;
        height: 30%;
      }

      .motto {
        font-size: 42px;
        text-align: center;
      }
    }
  }

  .quote {
    padding: 0 50px;
    min-height: calc(100vh - 75px);
    max-height: max-content;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      border: 1px solid lightgray;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    }

    .quoteContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 70px;
      padding: 0 40px;

      .quoteText {
        font-size: 36px;
        font-weight: 700;
      }
      .author {
        text-indent: 100px;
        text-align: justify;
        color: rgb(54, 54, 54);
        font-size: 22px;
        line-height: 170%;
      }
    }

    @include mobile {
      flex-direction: column;
      padding: 50px;
      min-height: max-content;
      gap: 30px;

      img {
        width: 70%;
      }

      .quoteContent {
        gap: 30px;
        .quoteText {
          font-size: 30px;
          word-spacing: inherit;
          text-align: justify;
        }

        s .author {
          font-size: 14px;
        }
      }
    }

    Button {
      margin-left: 10px;
      color: black;
      background-color: transparent;
      padding: 0;
      font-size: 16px;
      text-decoration: underline;
    }

    @include tablet {
      flex-direction: column;
      padding: 50px;
      min-height: max-content;
      gap: 50px;

      img {
        width: calc(50%);
        height: calc(50%);
      }

      .quoteContent {
        gap: 30px;
        .quoteText {
          word-spacing: inherit;
          text-align: justify;
        }

        s .author {
          font-size: 14px;
        }
      }
    }
  }

  .about {
    min-height: calc(100vh - 75px);
    max-height: max-content;
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 100px;
    background-color: #cfd1e4;
    padding-bottom: 20px;

    .contents {
      .heading {
        font-size: 36px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .items {
        min-width: calc((100% - 140px) / 2);
        color: #333333;
        padding: 20px;
        margin-bottom: 16px;
        font-size: 18px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        box-shadow: 0px 0px 30px -13px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 30px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px -13px rgba(0, 0, 0, 0.75);

        &:hover {
          animation: inout 0.5s ease-in-out;
        }
      }
    }

    @include mobile {
      min-height: max-content;
      flex-direction: column-reverse;
      padding: 50px 20px;
      justify-content: start;

      img {
        display: none;
      }

      .contents {
        .heading {
          text-align: center;
        }
        .desc {
          font-size: 18px;
          text-align: justify;
        }
      }
    }

    @include tablet {
      min-height: max-content;
      flex-direction: column-reverse;
      padding: 50px 20px;
      justify-content: start;

      img {
        display: none;
      }

      .contents {
        .desc {
          text-align: justify;
        }
      }
    }
  }
}
