@import "../../utils/constants.scss";

.home {
  .landing {
    min-height: calc(100vh - 75px);
    max-height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      border-radius: 50%;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .motto {
      font-size: 50px;
      color: rgb(196, 196, 196);
      max-width: 500px;
      font-weight: 900;
    }

    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
      min-height: calc((100vh - 75px) * 0.6);
      padding: 60px 0;

      .logo {
        width: 35%;
        height: 35%;
      }

      .motto {
        font-size: 38px;
        text-align: center;
      }
    }
  }

  .quote {
    padding: 0 50px;
    min-height: calc(100vh - 75px);
    max-height: max-content;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      border: 1px solid lightgray;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    }

    .quoteContent {
      display: flex;
      flex-direction: column;
      gap: 70px;

      .quoteText {
        font-size: 36px;
        font-weight: 700;
        max-width: 600px;
        word-spacing: 4px;
      }
      s .author {
        color: gray;
        font-weight: bold;
        font-size: 16px;
      }
    }

    @include mobile {
      flex-direction: column;
      padding: 50px;
      min-height: max-content;
      gap: 30px;

      img {
        width: 70%;
      }

      .quoteContent {
        gap: 30px;
        .quoteText {
          font-size: 30px;
          word-spacing: inherit;
          text-align: justify;
        }

        s .author {
          font-size: 14px;
        }
      }
    }
  }

  .about {
    min-height: calc(100vh - 75px);
    max-height: max-content;
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 100px;
    background-color: #cfd1e4;

    img {
      max-width: 500px;
      box-shadow: $shadow1;
      -webkit-box-shadow: $shadow1;
      -moz-box-shadow: $shadow1;
      border-radius: 69% 31% 61% 39% / 36% 63% 37% 64%;
      animation: floating 2s ease infinite;
    }

    .contents {
      .heading {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 65px;
      }
      .desc {
        font-size: 20px;
        margin-bottom: 50px;
        line-height: 36px;
      }
      Button {
        color: black;
        background-color: transparent;
        padding: 0;
        text-decoration: underline;
      }
    }

    @include mobile {
      min-height: max-content;
      flex-direction: column-reverse;
      padding: 50px 20px;
      justify-content: start;

      img {
        display: none;
      }

      .contents {
        .heading {
          text-align: center;
        }
        .desc {
          font-size: 18px;
          text-align: justify;
        }
      }
    }
  }

  .events {
    min-height: calc(100vh - 125px);
    max-height: max-content;
    background-color: white;
    padding: 25px 50px;

    .heading {
      display: flex;
      align-items: baseline;

      Button {
        color: black;
        background-color: transparent;
        padding: 0;
        text-decoration: underline;
        margin-bottom: 25px;
        margin-left: 20px;
      }

      .title {
        font-size: 36px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }

    .eventList {
      max-height: 80%;
      padding: 20px 100px;

      .eventCard {
        width: 100%;
        padding: 40px;
        display: flex;
        gap: 20px;
        align-items: center;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
        }

        img {
          flex: 1;
          object-fit: cover;
          width: 180px;
        }

        .content {
          flex: 2;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }

    @include mobile {
      padding: 30px 20px 50px;
      min-height: max-content;

      .heading {
        justify-content: space-between;
        Button {
          margin-left: 10px;
        }

        .title {
          font-size: 36px;
        }
      }

      .eventList {
        padding: 20px;
      }
    }
  }
}
