@import "../../utils/constants.scss";

.webinar {
  padding: 50px 50px 100px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 50px;

    .left {
      flex: 4;

      .mobileImg {
        display: none;
      }

      .eventTitle {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 26px;
      }

      .date {
        font-size: 20px;
        font-weight: 700;
        color: gray;
        margin-bottom: 32px;
      }

      .by {
        font-size: 22px;
      }

      .info {
        font-size: 22px;
        margin-right: 32px;
        display: inline-block;
        margin-top: 36px;
      }
    }

    .right {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: start;

      img {
        width: 70%;
        border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
        animation: floating 3s ease-in-out infinite;
        box-shadow: $shadow1;
        -webkit-box-shadow: $shadow1;
        -moz-box-shadow: $shadow1;

        &:hover {
          animation-play-state: paused;
        }
      }
    }
  }

  .bottom {
    .note {
      font-size: 22px;
      span {
        font-weight: 700;
      }
    }
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;

    .title {
      text-align: center;
    }

    .top {
      .left {
        .mobileImg {
          margin: auto;
          margin-bottom: 30px;
          display: block;
          width: 80%;
          height: auto;
          border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
          animation: floating 3s ease-in-out infinite;
          box-shadow: $shadow1;
          -webkit-box-shadow: $shadow1;
          -moz-box-shadow: $shadow1;
        }

        .by {
          font-size: 20px;
        }

        .info {
          font-size: 20px;
        }
      }

      .right {
        display: none;
      }
    }

    .bottom {
      .note {
        font-size: 20px;
      }
    }
  }

  @include tablet {
    padding-left: 20px;
    padding-right: 20px;

    .top {
      .left {
        .mobileImg {
          margin: auto;
          margin-bottom: 50px;
          display: block;
          width: 70%;
          height: auto;
          border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
          animation: floating 3s ease-in-out infinite;
          box-shadow: $shadow1;
          -webkit-box-shadow: $shadow1;
          -moz-box-shadow: $shadow1;
        }
      }

      .right {
        display: none;
      }
    }
  }
}
