@import "../../utils/constants.scss";

.webinar {
  padding: 50px 50px 100px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 50px;

    .left {
      flex: 4;

      .eventTitle {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 26px;
      }

      .date {
        font-size: 20px;
        font-weight: 700;
        color: gray;
        margin-bottom: 32px;
      }

      .by {
        font-size: 22px;
      }

      .info {
        font-size: 22px;
        margin-right: 32px;
        display: inline-block;
        margin-top: 36px;
      }
    }

    .right {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: start;

      img {
        width: 70%;
        border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
        animation: floating 3s ease-in-out infinite;
        box-shadow: $shadow1;
        -webkit-box-shadow: $shadow1;
        -moz-box-shadow: $shadow1;

        &:hover {
          animation-play-state: paused;
        }
      }
    }
  }

  .bottom {
    .note {
      font-size: 22px;
      span {
        font-weight: 700;
      }
    }
  }
}
