@import "../../utils/constants.scss";

.header {
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
}
.logo {
  font-size: 36px;
  font-weight: bold;
}
