@import "../../utils/constants.scss";

.memberCard {
  width: calc((100% - 180px) / 4);
  min-width: 250px !important;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;

  img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    align-self: center;
    box-shadow: $shadow2;
  }

  &:hover {
    transform: scale(1.02);
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    width: calc((100% - 60px) / 2);
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    width: calc((100% - 120px) / 3);
  }

  .email {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
